/* 
 * 
 * Sample CSS file
 * 
 * On staging (grunt off) css files are loaded from core/includes/header.inc.php 
 * automatically when placed in this folder.
 * 
 * On live they will be automatically included through grunt and compressed and concatenated
 * into sites/SITE/min/a.css and included from that location.
 * 
 */

.trial {
  &Body {
    display: flex;
    padding: 20px;
  }

  &Filter {
    flex: 0 0 20%;
    min-width: 220px;
    border-right: 1px solid #eee;
    padding-right: 20px;
    min-height: 200px;
  }

  &Content {
    flex: 1 1 auto;
    width: 70%;
    padding-left: 20px;
  }

  &List {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: -10px;
  }

  &Card {
    flex: 0 0 25%;
    padding: 10px;

    &Img {
      width: 100%;
      height: auto;
      max-height: 200px;
      object-fit: fill;
    }
  }
}