<div class="trialCard">
    <img src="{{ room.thumbnail }}" alt="room" class="trialCardImg" loading="lazy" />
    <div class="trialCardBody">
        <h5 class="trialCardTitle">Room {{ room.id }}</h5>
        <div class="trialCardText">{{ room.description }}</div>
    </div>
</div>
