{% extends 'layouts/default.twig' %}

{% block content %}
    <div class="wrapper">
        <div class="browseTitleWrap">
            <div class="browsePageTitle">
                <h1>Rooms</h1>
            </div>
        </div>
        <div class="trialBody">
            <div class="trialFilter" id="trialFilter">
                {{ filter_html|raw }}
            </div>
            <div class="trialContent" id="trialContent">
                {{ list_html|raw }}
            </div>
        </div>
    </div>
{% endblock %}
