{% if rooms|length > 0 %}
    <ul class="trialList">
        {% for room in rooms %}
            {% include 'trial/card.twig' %}
        {% endfor %}
    </ul>

    {{ pagination_html|raw }}
{% else %}
    <div class="emptyBasket">
        <h5>No products found in this category</h5>
    </div>
{% endif %}